.certificado-content{
    width: 14vw;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.foto-certificado{
    width: 100%;
    height: auto;
    max-height: 80%;
}
.foto-certificado img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    transition: 0.4s;
}
.foto-certificado img:hover{
    transform: scale(2);
}
.text-certificado h1{
    font-size: 100%;
    color: rgb(44, 44, 44);
}
.text-certificado{
    height: 40px;
    text-align: center;
}