header{
    display: flex;
    padding: 0px 10vw;
    align-items: center;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(18, 74, 119) 0%, rgb(30, 113, 180) 35%, rgba(84,224,252,1) 100%);
}
header ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
header ul li a{
    padding: 14px 10px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
header ul li a:hover{
    border-bottom: 1px solid white;
}
.header-logo{
    width: 40px;
}
